
    <div class="container mt-4">
        <div class="row">

            <div class="container">
                <h2>Porfolio</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus incidunt repudiandae corrupti nulla magni, molestias iste cum, tempora facere, assumenda aut! Obcaecati accusamus ullam veritatis perspiciatis delectus tenetur rem voluptatibus.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Proyect Name</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque ut sunt, perferendis adipisci maiores amet facere ipsum et mollitia veniam inventore placeat, quis quo praesentium nihil voluptates cumque exercitationem accusantium.</p>
                      </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Proyect Name</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque ut sunt, perferendis adipisci maiores amet facere ipsum et mollitia veniam inventore placeat, quis quo praesentium nihil voluptates cumque exercitationem accusantium.</p>
                      </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Proyect Name</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque ut sunt, perferendis adipisci maiores amet facere ipsum et mollitia veniam inventore placeat, quis quo praesentium nihil voluptates cumque exercitationem accusantium.</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
