<div class="card">
    <img class="img foto" src="./assets/img/bg.jpg" alt="Card image">
    <div class="card-img-overlay">
        <div class="row row1 text-center bg-light">
            <div class="col">
                <h4 class="card-title arriba">One Page Wonder</h4>
            </div>
        </div>
        </br>
        <div class="row row2 text-center bg-light">
            <div class="col">
                <p class="card-title bajo font-weight-bold">Will Knock You See Socks Off</p>
            </div>
        </div>

    </div>
</div>